<section class="btm-footer">
  <div class="container add_form ">
    <div class="form ">
      <form class="m-3" action="/admin/add-news" method="POST" enctype="multipart/form-data">
        <div class="text-center text-white">
          <h3 class="bg-primary add_news p-2">ADD NEWS</h3>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">NEWS NAME</label>
          <input
            type="text"
            class="form-control"
            name="NEWS_NAME"
            placeholder="NAME"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">NEWS CODE</label>
          <input
            type="text"
            class="form-control"
            name="NEWS_CODE"
            placeholder="NS01"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">NEWS DESCRIPTION</label>
          <input
            type="text"
            class="form-control"
            name="NEWS_DESCRIPTION"
            placeholder="Description...."
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">FILE</label>
          <input class="form-control" id="formFileMultiple" type="file" name="NEWS_FILE" />
          <!--id="formFileMultiple" -->
        </div>
        <div class="form-group">
          {{!-- <label for="formGroupExampleInput2">DATE</label> --}}
          {{!-- <input type="date"  id="current-date" class="form-control someclass" name="NEWS_DATE" /> --}}
          <label for="current-date">DAte</label>
          <input type="text" class="form-control " id="current-date" name="NEWS_DATE">
          <input type="text" name="News_date" id="current-date-int" hidden >
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  var today = new Date()
  var dateString = today.toDateString()
  var dateComponents = dateString.split(" ")
  var day = dateComponents[2]
  var month = dateComponents[1]
  var year = dateComponents[3]
  //document.getElementById("current-date").value = today.toDateString()
  document.getElementById("current-date").value = day + " " + month + " " + year

  document.getElementById("current-date-int").value = today.toISOString()
</script>