<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/mech/add/sem-02-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 02">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    {{!-- <input type="text" class="form-control" name="Subject code" value="PH8151"> --}}
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>PH8552</option>
                        <option>MA8251</option>
                        <option>GE8291</option>
                        <option>HS8251</option>
                        <option>CS8251</option>
                        <option>BE8255</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    {{!-- <input type="text" class="form-control" name="Subject name" value="Physics"> --}}
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Physics for Information Science</option>
                        <option>Engineering Mathematics – II</option>
                        <option>Environmental Science and Engineering</option>
                        <option>Technical English</option>
                        <option>Programming in C</option>
                        <option>Basic Electrical, Electronics and Measurement Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                    <input type="hidden" class="form-control " id="current-date" name="Sem_date">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>
<script>
  var today = new Date()
  var dateString = today.toDateString()
  var dateComponents = dateString.split(" ")
  var day = dateComponents[2]
  var month = dateComponents[1]
  var year = dateComponents[3]
  //document.getElementById("current-date").value = today.toDateString()
  document.getElementById("current-date").value = day + " " + month + " " + year
</script>