

{{!-- ================templates============ --}}


<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-4 pr-5">
      <a class="navbar-brand" href="#">ADMIN PANEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> 
          <li class="nav-item active ">
            <a class="home nav-link text-dark" href="/admin">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown ">
            <a class="home text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              AU News
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="home text-dark dropdown-item" target="_blank" href="/admin/add-news">Add News</a>
              <a class="home text-dark dropdown-item" href="/admin/view-news">View News</a>
              <a class="home text-dark dropdown-item" href="#">Edit News</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="home text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regulation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="home text-dark dropdown-item" target="_blank" href="/admin/add-regulation">Add Regulation</a>
              <a class="home text-dark dropdown-item" href="/admin/view-regulation">View Regulation</a>
              <a class="home text-dark dropdown-item" href="#">Edit</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="home text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notes & QP
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="home text-dark dropdown-item" href="/admin/reg-13-notes">Regulation 2013</a>
              <a class="home text-dark dropdown-item" href="/admin/reg-17-notes">Regulation 2017</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="home text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Results
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="home text-dark dropdown-item" href="">View Result</a>
              <a class="home text-dark dropdown-item" href="">Add Result</a>
              <a class="home text-dark dropdown-item" href="">Edit Result</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="line"></div>
</header>