<section class="pt-5" >
    <footer class="bg-light footer">
        <div class="">
            <div class="text-center">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="text-center postion-relative">
            <div >
                <p>© 2022 Designed & Developed by rai__chu__</p>
            </div>
        </div>
    </footer>
</section>