<header>
    <div>
        <nav class="navbar navbar-expand-lg  p-3  navbar-light bg-light">
            <img class="navimage" src="/images/STUCOR_Logo_Png.png" alt="">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active ml-auto">
                        <a class="home nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown ml-auto">
                        <a class="home text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Anna University
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="home text-dark dropdown-item" href="/au-news">AU NEWS</a>
                            <a class="home text-dark dropdown-item" href="#">Time Table</a>
                            <a class="home text-dark dropdown-item" href="#">Internal Mark</a>
                            <a class="home text-dark dropdown-item" href="#">Schedule</a>
                            <a class="home text-dark dropdown-item" href="#">Certificate</a>
                            <a class="home text-dark dropdown-item" href="#">Ranklist</a>
                        </div>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="home nav-link text-dark" href="/choose_regulation">Notes & QP</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="home nav-link text-dark" href="#">Syllabus</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="home nav-link text-dark" href="/result">Result</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="line"></div>
</header>

