<section class="btm-footer">
    <div class="container">
        <div class="text-center pt-3">
            <h4 class="text-primary">CSE Sem-04</h4>
        </div>
        <div>
            <div class="row pt-5 d-flex justify-content-center">
            <div class="col-md-12">
                {{!-- table --}}
                <h2>cse sem 4 notes admin</h2>
            </div>
            
        </div>
        </div>
        <div>
            <div class="row d-flex justify-content-end pt-4">
            <a href="/admin/cse/add/sem-04-notes" target="_blank"><button type="button" class="btn btn-primary">Add Notes</button></a>
        </div>
        </div>
    </div>
</section>