<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/cse/add/sem-04-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 04">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>MA8402</option>
                        <option>CS8451</option>
                        <option>CS8491</option>
                        <option>CS8492</option>
                        <option>CS8493</option>
                        <option>CS8494</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Probability and Queueing Theory</option>
                        <option>Design and Analysis of Algorithms</option>
                        <option>Computer Architecture</option>
                        <option>Database Management Systems</option>
                        <option>Operating Systems</option>
                        <option>Software Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>