<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/add-regulation" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD REGULATION</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Reg.___Name</label>
                    <input type="text" class="form-control" name="regulation" placeholder="Eg : Regulation 2017">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Domain of page</label>
                    <input type="text" class="form-control" name="page" placeholder="Eg : /page_name">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</section>