<section class="btm-footer">
    <div class="container pt-5 text-center">
        <h5 class="text-primary">EXAM RESULTS(UG)</h5>
    </div>

    <div class="container text-center pt-5">
        <h5>here is the description for the results</h5>
    </div>

    <div class="container text-center pt-5 col-lg-3 col-md-4 col-xs-4 col-sm-5 col-6">
        <div class="result bg-primary pt-2">
            <a href="https://coe1.annauniv.edu/home" target="_blank"><h5 class="text-white ">RESULT PORTAL 1 <i class="bi bi-arrow-right-circle-fill"></i></h5></a>
        </div>
        <div class="result bg-primary pt-2">
            <a href="https://coe1.annauniv.edu/home" target="_blank"><h5 class="text-white ">RESULT PORTAL 2 <i class="bi bi-arrow-right-circle-fill"></i></h5></a>
        </div>
    </div>
</section>