<section class="btm-footer">
    <div class="container">
        <div class="row pt-4">
            <marquee behavior="scroll" direction="left">
                <h3 class="text-primary">Prepare well for your exams gooys</h3>
            </marquee>
        </div>
        <div class=" text-center">
            <h3>Choose Your Department</h3>
        </div>
        <div class=" text-center">
            <h4>(REGULATION 2021)</h4>
        </div>
        <div class="row pt-5 text-center">
            <div class="col-md-6 col-5  justify-content-center ">
                <a href="/regulation_21/choose_sem_cse"><img class="img-logo" src="cse-01.png" alt=""></a>
                <div>
                    <a href="/regulation_21/choose_sem_cse">
                        <h5 class="text-dark pl-3">CSE</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-5  justify-content-center ">
                <a href=""><img class="img-logo" src="ece-01.png" alt=""></a>
                <div>
                    <a href="">
                        <h5 class="text-dark pl-3">ECE</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-5  justify-content-center ">
                <a href=""><img class="img-logo" src="civil-01.png" alt=""></a>
                <div>
                    <a href="">
                        <h5 class="text-dark pl-3">CIVIL</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-5  justify-content-center ">
                <a href=""><img class="img-logo" src="mech-01.png" alt=""></a>
                <div>
                    <a href="">
                        <h5 class="text-dark pl-3">MECH</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <div class="text-center">
                <h5>Search by Subject Name or Subject Code</h5>
            </div>
            <div class="searchBar text-center d-flex justify-content-center pt-3">
                <input class="form-control " type="search" placeholder="Enter Sub Name or Sub Code" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</section>