<section class="btm-footer">
    <div class="container">
        <div class="pt-5">
            <div class="text-center">
                <h4 class="text-primary">Anna University CSE Notes, QP & Syllabus (R13)</h4>
            </div>
            <div class="text-center pt-3">
                <h5>DEPARTMENT OF ECE</h5>
            </div>
        </div>
        <div class="pt-4">
            <h5 class="text-center">I-YEAR (B.E/B.Tech)</h5>
            <div class="col-md-12 pt-3">
                <table class="table table-bordered text-center ">
                    {{!-- <tbody></tbody> --}}
                         <tr>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem01">1st Semester</a></td>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem02">2nd Semester</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pt-4">
            <h5 class="text-center">II-YEAR (B.E/B.Tech)</h5>
            <div class="col-md-12 pt-3">
                <table class="table table-bordered text-center ">
                    {{!-- <tbody></tbody> --}}
                         <tr>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem03">3rd Semester</a></td>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem04">4th Semester</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pt-4">
            <h5 class="text-center">III-YEAR (B.E/B.Tech)</h5>
            <div class="col-md-12 pt-3">
                <table class="table table-bordered text-center ">
                    {{!-- <tbody></tbody> --}}
                         <tr>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem05">5th Semester</a></td>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem06">6th Semester</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pt-4">
            <h5 class="text-center">IV-YEAR (B.E/B.Tech)</h5>
            <div class="col-md-12 pt-3">
                <table class="table table-bordered text-center ">
                    {{!-- <tbody></tbody> --}}
                         <tr>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem07">7th Semester</a></td>
                            <td style="border: 2px solid ;"><a href="/reg_13/ece_sem08">8th Semester</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>