<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/mech/add/sem-06-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 06">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>IT8071</option>
                        <option>IT8072</option>
                        <option>IT8076</option>
                        <option>GE8075</option>
                        <option>CS8063</option>
                        <option>CS8651</option>
                        <option>CS8691</option>
                        <option>CS8602</option>
                        <option>CS8601</option>
                        <option>CS8072</option>
                        <option>CS8075</option>
                        <option>CS8077</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Digital Signal Processing</option>
                        <option>Embedded Systems</option>
                        <option>Software Testing</option>
                        <option>Intellectual Property Rights</option>
                        <option>Distributed Systems</option>
                        <option>Internet Programming</option>
                        <option>Artificial Intelligence</option>
                        <option>Compiler Design</option>
                        <option>Mobile Computing</option>
                        <option>Agile Methodologies</option>
                        <option>Data Warehousing and Data Mining</option>
                        <option>Graph Theory and Applications</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                    <input type="hidden" class="form-control " id="current-date" name="Sem_date">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>
<script>
  var today = new Date()
  var dateString = today.toDateString()
  var dateComponents = dateString.split(" ")
  var day = dateComponents[2]
  var month = dateComponents[1]
  var year = dateComponents[3]
  //document.getElementById("current-date").value = today.toDateString()
  document.getElementById("current-date").value = day + " " + month + " " + year
</script>