<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/civil/add/sem-05-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 05">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>ORO551</option>
                        <option>OME551</option>
                        <option>OME552</option>
                        <option>OCH551</option>
                        <option>OCS551</option>
                        <option>OAI551</option>
                        <option>OAI553</option>
                        <option>OAN551</option>
                        <option>GI8012</option>
                        <option>GI8013</option>
                        <option>GI8014</option>
                        <option>GI8015</option>
                        <option>GI8491</option>
                        <option>EN8491</option>
                        <option>GE8071</option>
                        <option>GE8074</option>
                        <option>CE8501</option>
                        <option>CE8502</option>
                        <option>CE8591</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Renewable Energy Sources</option>
                        <option>Energy Conservation and Management</option>
                        <option>Vibration and Noise Control</option>
                        <option>Industrial Nanotechnology</option>
                        <option>Software Engineering</option>
                        <option>Environment and Agriculture</option>
                        <option>Production Technology of Agricultural machinery</option>
                        <option>Sensors and Transducers</option>
                        <option>Digital Cadastre</option>
                        <option>Advanced Surveying</option>
                        <option>Geographic Information System</option>
                        <option>Geoinformatics Applications for Civil Engineers</option>
                        <option>Total Station and GPS Surveying</option>
                        <option>Water Supply Engineering</option>
                        <option>Disaster Management</option>
                        <option>Human Rights</option>
                        <option>Design of Reinforced Cement Concrete Elements</option>
                        <option>Structural Analysis I</option>
                        <option>Foundation Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>