<section class="btm-footer">
  <div class="container add_form">
    <div class="form">
      <form
        class="m-3"
        action="/admin/civil/add/sem-01-notes"
        enctype="multipart/form-data"
        method="POST"
      >
        <div class="text-center text-white">
          <h3 class="bg-primary add_news p-2">ADD Notes & QP</h3>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">SEMESTER</label>
          <input
            type="text"
            class="form-control"
            name="Semester"
            value="Sem 01"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">SUBJECT CODE</label>
          {{! <input type="text" class="form-control" name="Subject code" value="PH8151"> }}
          <select
            class="form-control"
            name="Subject_code"
            id="exampleFormControlSelect1"
          >
            <option>PH8151</option>
            <option>MA8151</option>
            <option>HS8152</option>
            <option>GE8151</option>
            <option>GE8152</option>
            <option>CY8151</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">SUBJECT NAME</label>
          {{! <input type="text" class="form-control" name="Subject name" value="Physics"> }}
          <select
            class="form-control"
            name="Subject_name"
            id="exampleFormControlSelect1"
          >
            <option>Engineering Physics</option>
            <option>Engineering Mathematics – I</option>
            <option>Communicative English</option>
            <option>Problem Solving and Python Programming</option>
            <option>Engineering Graphic</option>
            <option>Engineering Chemistry</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">NOTES</label>
          <input class="form-control" type="file" name="Notes" />   <!--id="formFileMultiple" -->
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">QUESTIONS</label>
          <input type="file" class="form-control" name="Questions" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>

      </form>
    </div>
  </div>
</section>