<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/mech/add/sem-05-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 05">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>MA8551</option>
                        <option>EC8691</option>
                        <option>CS8501</option>
                        <option>CS8591</option>
                        <option>CS8592</option>
                        <option>OTL553</option>
                        <option>OLT54</option>
                        <option>OML552</option>
                        <option>OPY551</option>
                        <option>OLT551</option>
                        <option>OLT552</option>
                        <option>OME551</option>
                        <option>OME553</option>
                        <option>OMF551</option>
                        <option>OEC552</option>
                        <option>OEI551</option>
                        <option>OIM551</option>
                        <option>OMD551</option>
                        <option>OMD552</option>
                        <option>OMD553</option>
                        <option>OEC551</option>
                        <option>OEC552</option>
                        <option>OCH551</option>
                        <option>OBT554</option>
                        <option>PBT553</option>
                        <option>OAN551</option>
                        <option>OBM551</option>
                        <option>OBM552</option>
                        <option>OBT552</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Algebra and Number Theory</option>
                        <option>Microprocessors and Microcontrollers </option>
                        <option>Theory of Computation </option>
                        <option>Computer Networks</option>
                        <option>Object Oriented Analysis and Design</option>
                        <option>Telecommunication Network Management</option>
                        <option>Wavelets and its Applications</option>
                        <option>Microscopy</option>
                        <option>Herbal Technology</option>
                        <option>Space Time Wireless Communication</option>
                        <option>Digital Audio Engineering</option>
                        <option>Energy Conservation and Management</option>
                        <option>Industrial Safety Engineering</option>
                        <option>Product Design and Development</option>
                        <option>Soft Computing</option>
                        <option>Logic and Distributed Control Systems</option>
                        <option>World Class Manufacturing</option>
                        <option>Basic of Biomedical Instrumentation</option>
                        <option>Hospital Waste Management</option>
                        <option>Telehealth Technology</option>
                        <option>Air Pollution and Control Engineering</option>
                        <option>Geographic Information System</option>
                        <option>Industrial Nanotechnology</option>
                        <option>Principles of Food Preservation</option>
                        <option>Fundamentals of Nutrition</option>
                        <option>Sensors and Transducers</option>
                        <option>Bio Chemistry</option>
                        <option>Medical Physics</option>
                        <option>Introduction to Bioenergy and Biofuels</option>
                        <option>Basics of Bioinformatics</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                    <input type="hidden" class="form-control " id="current-date" name="Sem_date">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>
<script>
  var today = new Date()
  var dateString = today.toDateString()
  var dateComponents = dateString.split(" ")
  var day = dateComponents[2]
  var month = dateComponents[1]
  var year = dateComponents[3]
  //document.getElementById("current-date").value = today.toDateString()
  document.getElementById("current-date").value = day + " " + month + " " + year
</script>