<section class="btm-footer">
        <div class="container">
        <div class="pt-4 text-center">
            <h4 class="text-primary">Choose Department</h4>
            <h5>Regulation 2017</h5>
        </div>
        <div class="row pt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <h5 class="text-center text-primary">Computer Science & Engineering</h5>
                <table class="table table-bordered text-center form">
                    <thead class="thead-dark">
                        <tr>
                            <th>CSE</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sem 01</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 02</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 03</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 04</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 05</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 06</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 07</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 08</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h5 class="text-center text-primary">Civil Engineering</h5>
                <table class="table table-bordered text-center form">
                    <thead class="thead-dark">
                        <tr>
                            <th>CIVIL</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sem 01</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 02</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 03</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 04</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 05</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 06</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 07</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 08</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <h5 class="text-center text-primary">Mechanical Engineering</h5>
                <table class="table table-bordered text-center form">
                    <thead class="thead-dark">
                        <tr>
                            <th>MECH</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sem 01</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 02</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 03</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 04</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 05</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 06</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 07</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 08</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h5 class="text-center text-primary">Electronic & Communication Engineering</h5>
                <table class="table table-bordered text-center form">
                    <thead class="thead-dark">
                        <tr>
                            <th>ECE</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sem 01</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 02</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 03</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 04</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 05</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 06</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 07</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                        <tr>
                            <td>Sem 08</td>
                            <td><a href=""> click here</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>