<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/civil/add/sem-06-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 06">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>EN8592</option>
                        <option>GE8075</option>
                        <option>CE8601</option>
                        <option>CE8602</option>
                        <option>CE8603</option>
                        <option>CE8604</option>
                        <option>CE8005</option>
                        <option>CE8001</option>
                        <option>CE8002</option>
                        <option>CE8003</option>
                        <option>CE8004</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Wastewater Engineering</option>
                        <option>Intellectual Property Rights</option>
                        <option>Design of Steel Structural Elements</option>
                        <option>Structural Analysis II</option>
                        <option>Irrigation Engineering</option>
                        <option>Highway Engineering</option>
                        <option>Air Pollution and Control Engineering</option>
                        <option>Ground Improvement Techniques</option>
                        <option>Introduction to Soil Dynamics and Machine Foundations</option>
                        <option>Rock Engineering </option>
                        <option>Urban Planning and Development</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>