<section class="btm-footer">
    <div class="container add_form">
        <div class=" form">
            <form class="m-3" action="/admin/civil/add/sem-03-notes" enctype="multipart/form-data" method="POST">
                <div class="text-center text-white">
                    <h3 class="bg-primary add_news  p-2">ADD Notes & QP</h3>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">SEMESTER</label>
                    <input type="text" class="form-control" name="Semester" value="Sem 03">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT CODE</label>
                    {{!-- <input type="text" class="form-control" name="Subject code" value="PH8151"> --}}
                    <select class="form-control" name="Subject_code" id="exampleFormControlSelect1">
                        <option>MA8353</option>
                        <option>CE8392</option>
                        <option>CE8301</option>
                        <option>CE8302</option>
                        <option>CE8351</option>
                        <option>CE8391</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">SUBJECT NAME</label>
                    {{!-- <input type="text" class="form-control" name="Subject name" value="Physics"> --}}
                    <select class="form-control" name="Subject_name" id="exampleFormControlSelect1">
                        <option>Transforms and Partial Differential Equations</option>
                        <option>Engineering Geology</option>
                        <option>Strength of Materials I</option>
                        <option>Fluid Mechanics</option>
                        <option>Surveying</option>
                        <option>Construction Materials</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">NOTES</label>
                    <input type="file" class="form-control" name="Notes" >
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">QUESTIONS</label>
                    <input type="file" class="form-control" name="Questions" >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</section>